html, body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0; }

h1 {
  font-weight: bold;
  font-size: 80px;
  letter-spacing: 21px;
  margin: 0;
  text-align: center; }

p {
  font-size: 30px;
  font-weight: lighter; }

header {
  background-color: rgba(0, 0, 0, 0.2);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  box-sizing: border-box;
  -webkit-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.05);
  color: white;
  height: 150vh;
  padding: 0;
  text-align: center;
  width: 100%; }
  header h1 {
    font-weight: bold;
    font-size: 80px;
    margin: 0;
    padding-top: 200px;
    padding-bottom: 60px;
    text-align: center; }
  header span {
    font-size: 60px;
    padding-bottom: 50px; }
  header p {
    font-size: 35px;
    letter-spacing: 5px;
    line-height: 1.25;
    padding: 20px 100px;
    text-transform: uppercase; }
  header h3 {
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 10px;
    margin: 0;
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase; }

h2 {
  font-size: 40px;
  letter-spacing: 4px; }

.network {
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  text-align: center; }

.network, .neighbourhoods, .collaborate {
  text-align: center; }

.network {
  -webkit-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.05);
  padding: 100px 50px; }
  .network h3 {
    font-size: 35px;
    letter-spacing: 5px;
    line-height: 1.25;
    padding: 20px 50px; }

.profile {
  display: inline-block;
  margin: 50px;
  text-align: center; }
  .profile .feature-image {
    padding: 0;
    height: 400px;
    overflow: hidden;
    width: 300px; }
  .profile .feature-image > img {
    height: 500px;
    object-fit: cover;
    object-position: cover;
    transition: all .4s ease-in-out;
    width: 300px; }
  .profile .feature-image > img:hover {
    cursor: pointer;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    transition: all .4s ease-in-out;
    opacity: 0.6; }
  .profile h4 {
    padding: 20px 10px 5px 10px; }

.neighbourhoods {
  box-sizing: border-box;
  -webkit-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.05);
  color: white;
  height: 140vh;
  text-align: center; }
  .neighbourhoods h1 {
    font-weight: bold;
    font-size: 80px;
    letter-spacing: 10px;
    margin: 0;
    padding-top: 210px;
    padding-bottom: 40px;
    text-align: center; }
  .neighbourhoods p {
    font-size: 35px;
    letter-spacing: 5px;
    line-height: 1.25;
    padding: 20px 100px;
    text-transform: uppercase; }
  .neighbourhoods h3 {
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 10px;
    margin: 0;
    padding: 50px 100px;
    text-align: center;
    text-transform: uppercase; }

.collaborate {
  height: 70vh;
  -webkit-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.05); }
  .collaborate h1 {
    padding-top: 150px; }

nav img {
  cursor: pointer;
  float: right;
  padding: 10px 30px; }
nav .close {
  display: none; }
nav .menu {
  display: none;
  height: 80px; }
  nav .menu ul {
    margin: 0; }
  nav .menu li {
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    letter-spacing: 3px;
    padding: 25px 20px 0 20px; }

/*# sourceMappingURL=main.css.map */
