nav {

    img {
        cursor: pointer;
        float: right;
        padding: 10px 30px;
    }

    .close {
        display: none;
    }

    .menu {
        display: none;
        // background-color: black;
        height: 80px;

        ul {
            margin: 0;
        }

        li {
            cursor: pointer;
            display: inline-block;
            font-size: 18px;
            letter-spacing: 3px;
            padding: 25px 20px 0 20px;
        }
    }

}
