nav {

    .logo {
      float: left;
      // width: 90%;
      padding: 22px 30px;
    }

    .close, .hamburger {
        width: 40px;
        cursor: pointer;
        float: right;
        padding: 17px 30px;
    }

    .close {
        display: none;
    }

    .menu-wrapper {
        height: 80px;
    }

    .black {
        color: #222222;
    }

    .white {
        color: white;
    }

    .menu {
        left: 25%;
        position: absolute;
        top: -200px;

        ul {
            margin: 0;
        }

        li {
            cursor: pointer;
            display: inline-block;
            font-size: 18px;
            letter-spacing: 3px;
            padding: 25px 20px 0 20px;
            text-transform: uppercase;
        }

        a {
            text-decoration: none;
        }

        a:hover {
            color: #222222;
        }
    }

}

@media (max-width: 1150px) {

    nav .menu {
        font-size: 16px;
        left: 15%;
        letter-spacing: 2px;
    }

}

@media (max-width: 850px) {

    .hamburger {
        display: none;
    }
}
