html, body, h1, h2, h3, h4, h5, h6, p {
    // font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: bold;
    font-size: 80px;
    letter-spacing: 21px;
    margin: 0;
    text-align: center;
}

p {
    font-size: 30px;
    font-weight: lighter;
}

header {
    background-color: rgba(0,0,0,0.2);
    // background-image: url("../desk.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    box-sizing: border-box;
    @include box-shadow(0 4px 0 rgba(0,0,0,.05));
    color: white;
    height: 150vh;
    padding: 0;
    text-align: center;
    width: 100%;

    h1 {
        font-weight: bold;
        font-size: 80px;
        // letter-spacing: 10px;
        margin: 0;
        padding-top: 200px;
        padding-bottom: 60px;
        text-align: center;
    }

    span {
        font-size: 60px;
        padding-bottom: 50px;
    }

    p {
        font-size: 35px;
        letter-spacing: 5px;
        line-height: 1.25;
        padding: 20px 100px;
        text-transform: uppercase;
    }

    h3 {
        font-weight: bold;
        font-size: 60px;
        letter-spacing: 10px;
        margin: 0;
        padding-top: 50px;
        // padding-bottom: 60px;
        text-align: center;
        text-transform:uppercase;
    }

}

h2 {
    font-size: 40px;
    letter-spacing: 4px;
}

.network {
    // background-image: url("../marble.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    // padding: 400px 0 0 0;
    text-align: center;
}

.network, .neighbourhoods, .collaborate {
    text-align: center;
}

.network {
    @include box-shadow(0 4px 0 rgba(0,0,0,.05));
    // color: #FAFAFA;
    padding: 100px 50px;

    h3 {
        font-size: 35px;
        letter-spacing: 5px;
        line-height: 1.25;
        padding: 20px 50px;
    }

}

.profile {
    display: inline-block;
    margin: 50px;
    text-align: center;

    .feature-image {
        padding: 0;
        height: 400px;
        overflow: hidden;
        width: 300px;
    }

    .feature-image > img {
        height: 500px;
        object-fit: cover;
        object-position: cover;
        transition: all .4s ease-in-out;
        width: 300px;
    }

    .feature-image > img:hover {
        cursor: pointer;
        @include transform(scale(1.05));
        transition: all .4s ease-in-out;
        opacity: 0.6;
    }

    h4 {
        padding: 20px 10px 5px 10px;
    }
}

.neighbourhoods {
    box-sizing: border-box;
    @include box-shadow(0 4px 0 rgba(0,0,0,.05));
    color: white;
    height: 140vh;
    text-align: center;

    h1 {
        font-weight: bold;
        font-size: 80px;
        letter-spacing: 10px;
        margin: 0;
        padding-top: 210px;
        padding-bottom: 40px;
        text-align: center;
    }

    p {
        font-size: 35px;
        letter-spacing: 5px;
        line-height: 1.25;
        padding: 20px 100px;
        text-transform: uppercase;
    }

    h3 {
        font-weight: bold;
        font-size: 60px;
        letter-spacing: 10px;
        margin: 0;
        padding: 50px 100px;
        text-align: center;
        text-transform:uppercase;
    }
}

.collaborate {
    height: 70vh;
    @include box-shadow(0 4px 0 rgba(0,0,0,.05));

    h1 {
        padding-top: 150px;
    }
}
