body {
    // background: red;
}

// General styles

.network, .neighbourhoods, .collaborate {
    text-align: center;
}

// Styles for header

header {
    background-color: rgba(0, 0, 0, 0.2);
    background-attachment: fixed;
    // background-position: center center;
    background-size: cover;
    box-sizing: border-box;
    @include box-shadow(0 4px 0 rgba(0,0,0,.05));
    color: white;
    padding-bottom: 130px;
    text-align: center;
    width: 100%;

    h1 {
        font-size: 80px;
        line-height: 1.5;
        margin: 0;
        padding-top: 130px;
        padding-bottom: 60px;
        text-align: center;
    }

    .title-one, .title-two, .title-three, .title-four {
        opacity: 0;
    }

    .title-two {
        font-size: 60px;
        vertical-align: text-top;
    }

    p {
        font-weight: 300;
        font-size: 35px;
        letter-spacing: 4px;
        line-height: 1.25;
        padding: 0px 100px 35px 100px;
        text-transform: uppercase;
    }

    h3 {
        color: white;
        font-weight: 400;
        font-size: 60px;
        letter-spacing: 18px;
        margin: 0;
        padding-top: 50px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }

    h3:hover {
        color: #222222;
        cursor: pointer;
    }

    a {
        text-decoration: none !important;
    }
}

// Styles for network

.network {
    background-attachment: fixed;
    background-repeat: repeat;
    color: #222222;
    text-align: center;
    @include box-shadow(0 4px 0 rgba(0,0,0,.05));
    padding: 80px 40px;

    .title-network {
      opacity: 0;
    }

    h1 {
      padding-bottom: 60px;
    }

    h3 {
        font-size: 35px;
        letter-spacing: 5px;
        line-height: 1.25;
        padding: 20px 50px;
    }

    p {
      font-weight: 300;
      padding: 0px 100px 35px 100px
    }

    a {
        color: #222222;
        text-decoration: none;
    }

    h3 > a:hover {
        color: lightgrey;
    }

}

.profile {
    display: inline-block;
    margin: 40px;
    text-align: center;

    &:hover {
        cursor: pointer;
    }

    &:hover .profile-text {
        opacity: 1;
        transition: .4s;

    }

    &:hover img {
        @include transform(scale(1.05));
        opacity: 0.5;
        transition: all .4s ease-in-out;
    }

    h4 {
        padding: 20px 10px 5px 10px;
    }

    .profile-text {
        font-size: 30px;
        font-weight: 300;
        letter-spacing: 2px;
        line-height: 1.5;
        opacity: 0;
        padding: 100px 10px 0 10px;
        position: absolute;
        text-align: center;
        width: 280px;
        z-index: 1000;
    }

    .feature-image {
        padding: 0;
        height: 400px;
        overflow: hidden;
        width: 300px;
    }
}

// Styles for neighbourhoods

.neighbourhoods {
    box-sizing: border-box;
    @include box-shadow(0 4px 0 rgba(0,0,0,.05));
    color: white;
    padding-bottom: 50px;
    text-align: center;

    .title-neighbourhoods {
        opacity: 0;
    }

    h1 {
        font-size: 80px;
        letter-spacing: 18px;
        margin: 0;
        padding-top: 100px;
        padding-bottom: 60px;
        text-align: center;
    }

    h3 {
        color: white;
        font-weight: 400;
        font-size: 60px;
        letter-spacing: 10px;
        margin: 0;
        padding: 50px 100px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }

    h3:hover {
        color: #222222;
        cursor: pointer;
    }

    p {
        font-weight: 300;
        font-size: 35px;
        letter-spacing: 4px;
        line-height: 1.25;
        padding: 20px 100px;
        text-transform: uppercase;
    }

    a {
        text-decoration: none !important;
    }

}

// Styles for instagram


.instagram {
    padding-top: 50px;
    text-align: center;

    img {
        cursor: pointer;
        display: inline-block;
        height: 250px;
        width: 250px;
        padding: 20px;
    }
}

// Styles for collaborate

.collaborate {
    color: #222222;
    @include box-shadow(0 4px 0 rgba(0,0,0,.05));

    .title-collaborate {
      opacity: 0;
    }

    h1 {
        padding-bottom: 40px;
        padding-top: 40px;
    }

    p {
        font-size: 17px;
        font-weight: 500;
        padding-bottom: 40px;
    }

    a {
        color: black;
        text-decoration: none;
    }

    a:hover {
        color: lightgrey;
    }

    input {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    input[type="email"] {
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        letter-spacing: 2px;
        padding: 8px;
        width: 280px;
    }

    input[type="submit"] {
        background-color: #222222;
        border: none;
        color: white;
        cursor: pointer;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        height: 40px;
        letter-spacing: 3px;
        padding: 10px;
        text-transform: uppercase;
        width: 170px;
    }

    input[type="submit"]:hover {
        background-color: white;
        border: 1px solid #222222;
        color: #222222;
    }

    .social-icons {
        padding: 30px 0;
    }

    .social-icon {
        cursor: pointer;
        display: inline-block;
        padding: 0 3px;
        width: 30px;
    }

    .legal-info {
      font-size: 10px;
    }

}

// Media queries

@media (max-width: 1200px) {

    header h1, .network h1, .neighbourhoods h1, .collaborate h1 {
        font-size: 70px;
        letter-spacing: 10px;
    }

    header .title-two {
        font-size: 50px;
    }

}

@media (max-width: 920px) {

    .feature-image img {
        opacity: 0.5;
    }

    .profile .profile-text {
        opacity: 1;
    }
}

@media (max-width: 850px) {

    .network {
        padding: 0;
    }

    header h1, .network h1, .neighbourhoods h1, .collaborate h1 {
        font-size: 50px;
        letter-spacing: 10px;
        padding-top: 50px;
    }

    header h1 {
        padding-top: 50px;
    }

    .network h1, .neighbourhoods h1, .collaborate h1 {
        padding-top: 80px;
    }

    header .title-two {
        font-size: 35px;
    }

    header p, .network p, .neighbourhoods p {
        font-size: 24px;
        padding: 0px 20px 20px 20px;
    }

    .collaborate p {
        font-size: 20px;
    }

    header h3, .network a, .neighbourhoods h3 {
        letter-spacing: 2px;
        text-decoration: underline;
    }

    header h3, .network h3, .neighbourhoods h3, .collaborate h3 {
        font-size: 26px;
        line-height: 1.5;
    }

    header h3, .neighbourhoods h3, .collaborate h3 {
        padding: 40px 20px 20px 20px;
    }

    .network h3 {
        padding: 20px;
    }

}

@media (max-width: 650px) {

    header {
        background-size: no-repeat;
    }

    header h1, .network h1, .neighbourhoods h1, .collaborate h1 {
        font-size: 45px;
        letter-spacing: 3px;
    }

    .profile {
        margin: 20px 0;
    }
}

@media (max-width: 525px) {

    header h1, .network h1, .neighbourhoods h1, .collaborate h1 {
        font-size: 35px;
        letter-spacing: 1px;
    }

    header .title-two {
        font-size: 25px;
    }

}
