.top {
  height: 10vh;
}

.full-profile {
  text-align: center;
  padding: 20px 100px;

  h1 {
    left: 16%;
    padding-bottom: 30px;
    position: absolute;
    top: 35%;
  }

  .active {
    background-image: url("marble.jpg");

    img {
      opacity: 0.6;
    }
  }

  img {
    @include box-shadow(0 4px 0 rgba(0,0,0,.05));
  }

  p {
    letter-spacing: 2px;
    padding-top: 40px;
    text-transform: uppercase;
  }
}

.related-profiles {
  text-align: center;
}
