.top {
  height: 10vh;
}

.full-profile {
  text-align: center;
  padding: 40px 100px;

    h1 {
        left: 16%;
        padding-bottom: 30px;
        position: absolute;
        top: 35%;
    }

    img {
        @include box-shadow(0 4px 0 rgba(0,0,0,.05));
        margin-bottom: 30px;
    }

  p {
    letter-spacing: 2px;
    padding-top: 40px;
    text-transform: uppercase;
  }
}

.related-profiles {
    margin-top: 60px;
    text-align: center;
}

hr {
    margin: 0 auto 60px auto;
    width: 60%;
}
